@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 125 27% 77%;
    --foreground: 224 76% 15%;
    --card: 125 27% 82%;
    --card-foreground: 224 76% 15%;
    --popover: 125 27% 82%;
    --popover-foreground: 224 76% 15%;
    --primary: 40 100% 67.1%;
    --primary-foreground: 40 100% 20%;
    --secondary: 125 27% 85%;
    --secondary-foreground: 224 76% 15%;
    --muted: 125 27% 85%;
    --muted-foreground: 224 76% 35%;
    --accent: 89 58% 57%;
    --accent-foreground: 89 60% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 67%;
    --input: 125 20% 67%;
    --ring: 40 100% 67.1%;
    --chart-1: 40 100% 67.1%;
    --chart-2: 89 58% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 30 80% 55%;
    --chart-5: 280 65% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 15% 15%;
    --foreground: 125 20% 80%;
    --card: 220 15% 20%;
    --card-foreground: 125 20% 80%;
    --popover: 220 15% 15%;
    --popover-foreground: 125 20% 80%;
    --primary: 40 100% 67.1%;
    --primary-foreground: 40 100% 20%;
    --secondary: 220 15% 25%;
    --secondary-foreground: 125 20% 80%;
    --muted: 220 15% 25%;
    --muted-foreground: 125 20% 60%;
    --accent: 89 58% 57%;
    --accent-foreground: 89 60% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 30%;
    --input: 220 15% 30%;
    --ring: 40 100% 67.1%;
    --chart-1: 40 100% 67.1%;
    --chart-2: 89 58% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 30 80% 55%;
    --chart-5: 280 65% 60%;
  }
}

@layer base {
    /* * { 
      border: 1px solid hsl(var(--border)); 
    } */
  /* body {
    @apply bg-background text-foreground;
  } */
  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}
